* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgb(252, 252, 252);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 105%;
}

.header {
    width: 100%;
    height: 4.8rem;
    padding: 1rem;
    color: rgb(122, 100, 152);
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0.75rem;
    width: 100%;
    min-height: calc(100vh - 4.8rem);
    padding: 1rem;
}

.cnt-header {
    width: 70rem;
    max-width: calc(100% - 2rem);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgb(212, 212, 212);
    box-shadow: 0 0 2px rgba(122, 100, 152, 0.5);
    border-radius: 4px;
}

.cnt-header > span {
    width: 50%;
    padding: 0.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    border-radius: 4px;
    transition: filter 0.3s;
}

.cnt-header > span:nth-child(1) {
    background-color: white;
    border-right: 2px solid rgba(122, 100, 152, 0.3);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.cnt-header > span:nth-child(2) {
    background-color: rgb(242, 242, 242);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.container {
    width: 70rem;
    max-width: calc(100% - 2rem);
    min-height: 10rem;
    max-height: calc(100vh - 10.55rem);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    gap: 1rem;
    border: 1px solid rgb(212, 212, 212);
    box-shadow: 0 0 2px rgba(225, 225, 225, 0.5);
    border-radius: 4px;
    background-color: white;
    overflow-x: hidden;
    overflow-y: auto;
}

.container > span {
    width: 100%;
    padding: 0.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(212, 212, 212);
    border-radius: 2px;
    background-color: rgb(252, 252, 252);
    font-weight: 400;
    font-size: 1.1rem;
}

.container > span:nth-child(1) {
    box-shadow: inset 0 0 2px rgba(122, 100, 152, 0.75);
    margin-bottom: 0.5rem;
    font-weight: 500;
    font-size: 2.2rem;
}

.container > div {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.container > div > button {
    width: 11rem;
    height: 3rem;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    border: none;
    outline: none;
    border-radius: 4px;
    background-color: rgb(162, 96, 155);
    transition: filter 0.3s;
}

.container > div > button:hover {
    cursor: pointer;
    filter: brightness(0.9);
}

.container > div > button:active {
    box-shadow: 0 0 6px rgba(162, 96, 155, 0.75);
}

.container > div > button:nth-child(2) {
    width: 13rem;
    background-color: rgb(122, 100, 152);
}

.container > div > button > img {
    height: 1.2rem;
}

.container > div > button:nth-child(2) > img {
    height: 1.3rem;
}

.container > div > button > span {
    width: 100%;
    padding-bottom: 0.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 1.2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.25);
}

.container > section {
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    border: 2px solid rgb(212, 212, 212);
    table {
        width: 100%;
        border-collapse: collapse;
        font-size: 1.03rem;
        td, th {
            border-right: 2px solid rgb(212, 212, 212);
            padding: 1rem;
            text-align: center;
        }
        td:last-child {
            border-right: none;
        }
        th:last-child {
            border-right: none;
        }
        th {
            background-color: white;
            border-bottom: 2px solid rgb(212, 212, 212);
            font-weight: 500;
        }
        tr {
            border-bottom: 2px solid rgb(212, 212, 212);
        }
        tr:nth-child(odd) {
            background-color: rgb(252, 252, 252);
        }
        tr:last-child {
            border: none;
        }
    }
}

@media (max-width: 1200px) {
    .cnt-header {
        width: 57.5rem;
    }
    .container {
        width: 57.5rem;
    }
}

@media (max-width: 992px) {
    .cnt-header {
        width: 45rem;
    }
    .container {
        width: 45rem;
    }
}

@media (max-width: 768px) {
    .cnt-header {
        max-width: 100%;
    }
    .container {
        max-width: 100%;
        align-items: center;
        > div > button {
            width: 9.5rem;
            > span {
                font-size: 1.1rem;
                padding-bottom: 0;
            }
        }
        > div > button:nth-child(2) {
            width: 9.5rem
        }
        > section {
            overflow-x: auto;
        }
    }
}
